html,body{
  width:100%;
}

.logo{
  width:30%;
  height:auto;
  position:absolute;
  margin-top:14%;
  left:18%;
}

.text-js{
  opacity: 0;
  font-size: 90pt;
  font-family: serif;
  font-weight: normal;
}
.headline{
  margin-top:25%;
  margin-bottom:20%;
  margin-left:36%;
  color: white;
  text-align: center;
}
.cursor{
  display:block;
  position: absolute;
  height: 90pt;
  top: 53pt;
  right: -5px;
  width: 2px;
  background-color: white;
  z-index: 1;
  animation: flash 1s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.animation-element {
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-top:10%;
  float: left;
}
.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.subject {
  float: left;
  width: 100%;
  height:inherit;
  margin: 0% 1.33% 2.66% 1.33%;
  background: #18223d;
  padding: 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: solid 1px #18223d;
}

h5{
  color:white;
  letter-spacing: 3pt;
}

.content{
  letter-spacing: .5pt;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 10%;
  color:white;
  font-family: "Gill Sans";
  font-size: 11pt;
  line-height: 18pt;
  font-weight: lighter;
}

.enemyimage{
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.enemy{
    animation:fadein2 3s;
    visibility: visible;
}

.element-to-hide{
    visibility:hidden;
  }

@keyframes fadein2 {
  0%{
    opacity: 0;
    transform: translate(0,-200pt);
  }
  100%{
      opacity: 1;
      transform: translate(0,0);
  }
}

.posterman{
  width:25%;
  height:auto;
  position:absolute;
  animation: flow 30s infinite linear;
}
.posterman2{
  width:25%;
  height:auto;
  position:absolute;
  animation: flow2 30s infinite linear;
}
@keyframes flow {
  0%{
    top:40%;
    left:100%;
  }
  10%{
    top:5%;
    left:50%;
  }
  20%{
    top:20%;
    left:-30%;
  }
  25%{
    top:50%;
    left:-30%;
  }
  50%{
    top:100%;
    left:-100%;
  }
  75%{
    top:300%;
    left:-100%;

  }
  100%{
    top:50%;
    left:-100%;
  }
}
@keyframes flow2 {
  0%{
    top:0;
    left:-100%;
  }
  10%{
    top:0%;
    left:-100%;
  }
  25%{
    top:20%;
    left:0;
  }
  30%{
    top:70%;
    left:10%;
  }
  50%{
    top:100%;
    left:10%;
  }
  75%{
    top:300%;
    left:60%;

  }
  100%{
    top:50%;
    left:90%;
  }
}

.page2-body{
  background-color: white;
  margin-left:12%;
}
.colum {
  float:left;
  width:40%;
  padding:5px;
}
.colum-2{
  float:left;
  width:40%;
  padding:10px;
  padding-top:11.5%;
}
header{
  display: block;
  height:auto;
}

h1{
  font-size: 60pt;
  font-family: "Gill Sans";
  letter-spacing: 5pt;
  text-align: right;
  margin-bottom: 0;
}
h2{
  font-size: 11pt;
  text-align: right;
  margin-top:0;
}
.navigation-bar{
  margin-top: 10%;
  border-top: 1pt solid black;
  display: block;
  text-align: right;
}
li{
  font-family: "Gill Sans";
  font-size: 12pt;
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
a{
  color:black;
}
.scroll-bar{
  overflow: scroll;
  width:90%;
  height:480px;
}
h3{
  letter-spacing: 3pt;
  color:#4381ad;
}
p{
  font-size: 11pt;
  line-height: 20pt;
}
